/* Should be erased at the end!!! */
* {
  border: 1px dotted gray;
}

#info, #calendar {
  border: 1px solid red;
}

/* Universal */
body {
  font-family: 'Noto Sans KR', sans-serif;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;;
  align-items: center;
}

/* Date Information Part */

#date_info {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

#date_info > article {
  width: 150px;
  height: 150px;
  border: 4px solid #0D0D0D;
  border-radius: 8px;
}

article > h1 {
  font-family: 'Jua', sans-serif;
  font-size: 20px;
  text-align: center;
}

h1 > p {
  margin: 0;
}

#mmdd {
  margin-bottom: 20px;
  font-size: 1.5em;
}

#day {
  font-size: 1.7em;
}

/* Progress bar */
progress {
  width: 80%;
}

/* Calendar Part */
table {
  margin: 0 auto;
}

/* Footer */
footer {
  background-color: #0D0D0D;
  color: #A6A6A6;
  font-size: 0.7em;
  text-align: center;
}

/* #sun {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: radial-gradient(#F29F05, #F2B705, #F2E205);
  box-shadow: 0 0 25px 30px #F2D98D;
} */